
.fixedCircle{
  fill: red;
  stroke-width: 2px;
  stroke: orange;
}

@keyframes tofocus {
  from { fill: red;}
  to { fill: blue;}
}
.onfocus{  
  fill: blue;
  animation-name: tofocus;
  animation-duration: 3s;
}